<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
    <form action="/login" method="post">
        Email: 
        <input type="text" id="email" name="email">
        <div id="email-error"></div>
        Password: 
        <input type="password" name="password">
        <input type="checkbox" name="show_pass" id="">Show password
        <button id="btn-submit" type="submit" >Submit</button>
    </form>
    <script src="/js/my.js"></script>
</body>
</html>